NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_web_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=omnisave-21c05.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=omnisave-21c05
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=omnisave-21c05.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=459462156017
NEXT_PUBLIC_FIREBASE_APP_ID=1:459462156017:web:5eb152d98390b4158dd350
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-BN2BQ7ZQ66
